
.main-btn {
    width: 170px;
    height: 45px;
    font-family: fontFamily(fontPopins);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: color(primary);
    background-color: darken(color(tertiary), 30%);
    border: 1px solid color(primary);
    border-radius: 4rem;
    margin: 1rem .5rem;;
    outline: none;
    cursor: pointer;
    transition: all .4s ease-in-out;

    &:hover {
        background-color: color(primary);
        color: color(secondary);
    }
    
    @media(max-width: 800px) {
        width: 150px;
        height: 35px;
        font-size: 12px;
    }
    @media(max-width: 500px) {
        width: 130px;
        height: 30px;
        font-size: 10px;
    }

}

.secondary-btn {
    width: 100px;
    height: 100px;
    font-family: fontFamily(fontPopins);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: color(primary);
    background-color: darken(color(tertiary), 30%);
    border: 0.1rem solid darken(color(tertiary), 50%);
    border-radius: 80% 15% 55% 50% / 55% 15% 80% 50%;
    margin: 1rem .5rem;;
    outline: none;
    cursor: pointer;
    transform: rotate(-45deg);
    transition: all .4s ease-in-out;

    &:hover {
        background-color: color(primary);
        color: color(secondary);
    }
    
    @media(max-width: 800px) {
        width: 150px;
        height: 35px;
        font-size: 12px;
    }
    @media(max-width: 500px) {
        width: 130px;
        height: 30px;
        font-size: 10px;
    }

}